<div class="chat-wrapper">
    <div class="chat-container">
      
      <div 
        *ngFor="let msg of messages" 
        class="message"
        [ngClass]="msg.role">
  
        <div class="bubble">
          {{ msg.content }}
        </div>
  
      </div>
  
    </div>
  
    <div class="chat-input">
      <input 
        [(ngModel)]="userInput"
        (keyup.enter)="sendMessage()"
        placeholder="Írj egy üzenetet..."
      />
      <button (click)="sendMessage()">➤</button>
    </div>
  </div>