<main>


  <h1 class="text-center p-5" style="color:white">Services</h1>

  <div class="container text-center mt-5 d-flex justify-content-around" id="paddingalso">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="img/chat.png" class="card-img-top">
          <div class="card-body">
            <h2 style="color:purple">Chat AI</h2>
            <p class="card-text p-3">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            <div class="d-flex justify-content-around pb-3">
              <button class="btn" (click)="checkToken(TypeEnum.Chat)">
                <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
                    <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
                </svg>
            
                <span class="text" >Generate</span>
              </button>
            </div>
            
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="img/Kepgeneralas.avif" class="card-img-top">
          <div class="card-body">
            
            <h2 style="color:purple">Image generation</h2>
            <p class="card-text p-3">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            
            <div class="d-flex justify-content-around pb-3">
              <button class="btn" (click)="checkToken(TypeEnum.ImageGen)">
                <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
                    <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
                </svg>
            
                <span class="text">Generate</span>
              </button>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="img/recognition.png" class="card-img-top">
          <div class="card-body">
            <h2 style="color:purple">Image recognition</h2>
            <p class="card-text p-3">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
            
            <div class="d-flex justify-content-around pb-3">
              <button class="btn" (click)="checkToken(TypeEnum.ImageRec)">
                <svg height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
                    <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
                </svg>
            
                <span class="text">Generate</span>
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<app-footer></app-footer>