<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Card for upload -->
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3">Upload Your Image</h5>
                    <p-fileupload #fu mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="demo[]"
                        accept="image/*" maxFileSize="1000000" [customUpload]="true"
                        (uploadHandler)="onUpload($event)" />
                    <p-button label="Upload" (onClick)="fu.upload()" severity="secondary" />
                </div>
            </div>
        </div>
    </div>
</div>